<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="title">
        <h1 class="text">BalVikasGuru</h1>
        <a class="sign-up" href="/">Sign In</a>
    </div>
    <div class="content login-box">
        <div class="form-container">
            <h2 class="text">Hello there!</h2>
            <form action="/signup" method="post">
                <input class="uid" type="text" name="name" placeholder="Name"><br>
                <input class="mid" type="email" name="emailID" placeholder="Email"><br>
                <input class="mid" type="text" name="userID" placeholder="Username"><br>
                <input class="mid" type="password" name="password" placeholder="Password"><br>
                <input class="pwd" type="password" name="confirmPassword" placeholder="Confirm Password"><br>
                <button class="btn" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>